*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: 'montserrat_light';
}

$paleta:(
    'primario': #002a3a,
    'secundario': #e9bb52,
    'neutro': white
);

 /*========================================= CONTACTO ================================================ */

    @mixin encabezado-contacto {
        background-color: map-get($map: $paleta, $key:'primario' );
        color: map-get($map: $paleta, $key:'secundario' );
        height: 200px;
        display: grid;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows: repeat(2,1fr);
        }
    @mixin encabezado-titulo {
        font-family: 'montserrat_medium';
        font-size: 45px;
        grid-column: 3/12;
        align-self: end;
        }
    @mixin encabezado-subtitulo {
        font-size: 20px;
        grid-column: 3/14;
        grid-template-rows: 2/3;
        font-family: 'montserrat-light';
        align-self: start;
        }
    @mixin contacto-formulario {
        display: grid;
        height: 750px;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows: repeat(10,1fr);
        color: map-get($map: $paleta, $key:'primario' );
        }
    
        @media only screen and (min-width: 1361px){

        .contacto__encabezado{
            @include encabezado-contacto;
    
            .contacto__titulo{
            @include encabezado-titulo
            }
            .contacto__subtitulo{
            @include encabezado-subtitulo
            }
        }
        .contacto__formulario{
            @include contacto-formulario;

            .contacto__formulario-titulo{
                grid-column: 3/10;
                grid-row: 2/3;
                font-family: 'montserrat_medium';

                h2{
                    font-size: 25px;
                    color: map-get($map: $paleta, $key:'primario' );
                    font-size: 27px;
                    font-family: 'montserrat_medium';
                }
            }
            .contacto__formulario-check{
                grid-column: 3/8;
                grid-row: 3/6;
                font-family: 'montserrat_light';

                .form-check{
                    font-size: 20px;
                }
            }
            .nombre{
                grid-column:3/10;
                grid-row: 6/7;
            }
            .apellido{
                grid-column: 11/19;
                grid-row: 6/7;
            }
            .email{
                grid-column: 3/10;
                grid-row: 7/8;
            }
            .telefono{
                grid-column: 11/19;
                grid-row: 7/8;
            }
            .mensaje{
                grid-column: 3/19;
                grid-row: 8/9;
                margin-top: 20px;
            }
        
            .boton-submit{
                grid-column: 3/4;
                grid-row: 9/10;
                height: 50px;
                width: 150px;
                background-color: map-get($map: $paleta, $key:'primario' );
                color: map-get($map: $paleta, $key:'neutro' );
                border: none;
                margin-top: 20px;
            }
            .boton-submit:hover{
                background-color:map-get($map: $paleta, $key:'secundario' );
                color: map-get($map: $paleta, $key:'primario' );
            }
        }
}
/*------------------------------ contacto 1024-1360 ----------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1360px) {

    .contacto__encabezado{
        @include encabezado-contacto;

        .contacto__titulo{
        @include encabezado-titulo;
        font-size: 40px;
        }
        .contacto__subtitulo{
        @include encabezado-subtitulo
        }
    }
    .contacto__formulario{
        @include contacto-formulario;

        .contacto__formulario-titulo{
            grid-column: 3/12;
            grid-row: 2/3;
            font-family: 'montserrat_medium';

            h2{
                font-size: 25px;
                color: map-get($map: $paleta, $key:'primario' );
                font-size: 24px;
            }
        }
        .contacto__formulario-check{
            grid-column: 3/8;
            grid-row: 3/6;
            font-family: 'montserrat_light';

            .form-check{
                font-size: 20px;
            }
        }
        .nombre{
            grid-column:3/9;
            grid-row: 6/7;
        }
        .apellido{
            grid-column: 10/19;
            grid-row: 6/7;
        }
        .email{
            grid-column: 3/9;
            grid-row: 7/8;
        }
        .telefono{
            grid-column: 10/19;
            grid-row: 7/8;
        }
        .mensaje{
            grid-column: 3/19;
            grid-row: 8/9;
            margin-top: 20px;
        }
    
        .boton-submit{
            grid-column: 3/4;
            grid-row: 9/10;
            height: 50px;
            width: 150px;
            background-color: map-get($map: $paleta, $key:'primario' );
            color: map-get($map: $paleta, $key:'neutro' );
            border: none;
            margin-top: 20px;
        }
        .boton-submit:hover{
            background-color: map-get($map: $paleta, $key:'secundario' );
            color: map-get($map: $paleta, $key:'primario' );
        }
    }
}

/*--------------------------- contacto 801-1023 ----------------------------*/

@media only screen and (min-width: 801px) and (max-width: 1023px) {

    .contacto__encabezado{
        @include encabezado-contacto;

        .contacto__titulo{
        @include encabezado-titulo;
        font-size: 40px;
        grid-column: 3/15;
        }
        .contacto__subtitulo{
        @include encabezado-subtitulo
        }
    }
    .contacto__formulario{
        @include contacto-formulario;

        .contacto__formulario-titulo{
            grid-column: 3/13;
            grid-row: 2/3;
            font-family: 'montserrat_medium';

            h2{
                font-size: 25px;
                color: map-get($map: $paleta, $key:'primario' );
                font-size: 24px;
            }
        }
        .contacto__formulario-check{
            grid-column: 3/8;
            grid-row: 3/6;
            font-family: 'montserrat_light';

            .form-check{
                font-size: 20px;
            }
        }
        .nombre{
            grid-column:3/9;
            grid-row: 6/7;
        }
        .apellido{
            grid-column: 10/19;
            grid-row: 6/7;
        }
        .email{
            grid-column: 3/9;
            grid-row: 7/8;
        }
        .telefono{
            grid-column: 10/19;
            grid-row: 7/8;
        }
        .mensaje{
            grid-column: 3/19;
            grid-row: 8/9;
            margin-top: 20px;
        }
    
        .boton-submit{
            grid-column: 3/4;
            grid-row: 9/10;
            height: 50px;
            width: 150px;
            background-color: map-get($map: $paleta, $key:'primario' );
            color: map-get($map: $paleta, $key:'neutro' );
            border: none;
            margin-top: 20px;
        }
        .boton-submit:hover{
            background-color: map-get($map: $paleta, $key:'secundario' );
            color: map-get($map: $paleta, $key:'primario' );
        }
    }
}

/*-------------------------------- contacto 601-800 --------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 800px) {

    .contacto__encabezado{
        @include encabezado-contacto;

        .contacto__titulo{
        @include encabezado-titulo;
        font-size: 35px;
        grid-column: 3/16;
        }
        .contacto__subtitulo{
        @include encabezado-subtitulo;
        grid-column: 3/16;
        }
    }
    .contacto__formulario{
        display: grid;
        height: 750px;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows: repeat(10,1fr);
        color: #002a3a;

        .contacto__formulario-titulo{
            grid-column: 3/18;
            grid-row: 2/3;
            font-family: 'montserrat_medium';

            h2{
                font-size: 23px;
                color: map-get($map: $paleta, $key:'primario' );
            }
        }
        .contacto__formulario-check{
            grid-column: 3/8;
            grid-row: 3/6;
            font-family: 'montserrat_light';

            .form-check{
                font-size: 18px;
            }
        }
        .nombre{
            grid-column:3/9;
            grid-row: 6/7;
        }
        .apellido{
            grid-column: 10/19;
            grid-row: 6/7;
        }
        .email{
            grid-column: 3/9;
            grid-row: 7/8;
        }
        .telefono{
            grid-column: 10/19;
            grid-row: 7/8;
        }
        .mensaje{
            grid-column: 3/19;
            grid-row: 8/9;
            margin-top: 20px;
        }
    
        .boton-submit{
            grid-column: 3/4;
            grid-row: 9/10;
            height: 50px;
            width: 150px;
            background-color: map-get($map: $paleta, $key:'primario' );
            color: map-get($map: $paleta, $key:'neutro' );
            border: none;
            margin-top: 20px;
        }
        .boton-submit:hover{
            background-color:map-get($map: $paleta, $key:'secundario' );
            color: map-get($map: $paleta, $key:'primario' );
        }
    }
}

/*------------------------------ contacto 320-600 ------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 600px) {

    .contacto__encabezado{
        @include encabezado-contacto;
        height: 180px;

        .contacto__titulo{
        @include encabezado-titulo;
        font-size: 30px;
        grid-column: 3/16;
        }
        .contacto__subtitulo{
        @include encabezado-subtitulo;
        grid-column: 3/18;
        font-size: 18px;
        }
    }
    .contacto__formulario{
        display: grid;
        height: 850px;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(10,1fr);
        color: #002a3a;

        .contacto__formulario-titulo{
            grid-column: 2/8;
            grid-row: 2/3;
            font-family: 'montserrat_medium';

            h2{
                font-size: 18px;
                color: map-get($map: $paleta, $key:'primario' );
                margin-top: 60px;
            }
        }
        .contacto__formulario-check{
            grid-column: 2/9;
            grid-row: 3/4;
            margin-bottom: 30px;
            font-family: 'montserrat_light';

            .form-check{
                font-size: 16px;
            }
        }
        .nombre{
            grid-column:2/10;
            grid-row: 5/6;
        }
        .apellido{
            grid-column: 2/10;
            grid-row: 6/7;
        }
        .email{
            grid-column: 2/10;
            grid-row: 7/8;
        }
        .telefono{
            grid-column: 2/10;
            grid-row: 8/9;
        }
        .mensaje{
            grid-column: 2/10;
            grid-row: 9/10;
            margin-top: 20px;
        }
    
        .boton-submit{
            grid-column: 2/10;
            grid-row: 10/11;
            height: 40px;
            width: 140px;
            background-color: map-get($map: $paleta, $key:'primario' );
            color: map-get($map: $paleta, $key:'neutro' );
            border: none;
            margin-top: 20px;
            margin-bottom: 60px;
        }
        .boton-submit:hover{
            background-color:map-get($map: $paleta, $key:'secundario' );
            color: map-get($map: $paleta, $key:'primario' );
        }
    }
}