*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: 'montserrat_light';
}
/* =========================== PORTFOLIO 1360 ==> ================================= */

@mixin encabezado-portfolio {
    background-color: #002a3a;
    color: #e9bb52;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(2,1fr);
    }
@mixin portfolio-titulo {
    font-family: 'montserrat_medium';
    font-size: 45px;
    grid-column: 3/12;
    align-self: end;
    }
@mixin portfolio-subtitulo {
    font-size: 20px;
    grid-column: 3/14;
    grid-template-rows: 2/3;
    font-family: 'montserrat_light';
    align-self: start;
    }
@media only screen and (min-width: 1361px){
        .portfolio__encabezado{
            @include encabezado-portfolio;
    
            .portfolio__titulo{
            @include encabezado-titulo
            }
            .portfolio__subtitulo{
            @include encabezado-subtitulo
            }
        }
}
.filtro{
    display: grid;
    grid-template-columns: repeat(10,1fr);

    .filtro__lista{
        grid-column: 3/9;
        list-style: none;
        justify-self: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    li{
        display: inline-block;
        margin-left: 30px;
    }
    a{
        text-decoration: none;
        color: #002a3a;
        font-family: 'montserrat_light';
    }
    a:hover{
        font-family: 'montserrat_bold';
    }
    .todo-amarillo{
        color: #e9bb52;
    }    
}
.galeria_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 30px;
    row-gap: 30px;

    img{
        width: 100%;
    }
    .img-1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img-2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .img-3{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .img-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img-5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .img-6{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .img-7{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .img-8{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .img-9{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .img-10{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .img-11{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .img-12{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .img-13{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .img-14{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .img-15{
        grid-column: 4/5;
        grid-row: 5/6;
    }
    a:hover img{
        filter: opacity(40%);
        transition: all .5s;
    }
}
.espacio{
    height: 150px;
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

    img{
        width: 800px;
    }
    .close{
        display: block;
        position: absolute;
        top: 60px;
        right: 60px;
        color: white;
    }
    .close:hover{
        display: block;
        position: absolute;
        top: 60px;
        right: 60px;
        color: #e9bb52;
    }
    .right{
        color: white;
        margin-left: 40px;
    }
    .right:hover{
        color: #e9bb52;
        margin-left: 40px;
    }
    .left{
        color: white;
        margin-right: 40px;
    }
    .left:hover{
        color: #e9bb52;
        margin-right: 40px;
    }
    .bajada{
        color: white;
        font-family: 'montserrat_light';
        text-align: center;
        margin-top: 15px;
    }
}
.light-box:target{
    transform: scale(1);
}

/*-------------------------------------------- Portfolio 1024-1360 ------------------------------------------------ */

@media only screen and (min-width: 1024px) and (max-width: 1360px) {

    .portfolio__encabezado{
        @include encabezado-portfolio;

        .portfolio__titulo{
        @include encabezado-titulo
        }
        .portfolio__subtitulo{
        @include encabezado-subtitulo
        }
    }
    .filtro{
        display: grid;
        grid-template-columns: repeat(10,1fr);

        .filtro__lista{
            grid-column: 1/11;
            list-style: none;
            justify-self: center;
            margin-top: 80px;
            margin-bottom: 80px;
            align-items: center;
            margin-right: 30px;
        }
        li{
            display: inline-block;
        }
        a{
            text-decoration: none;
            color: #002a3a;
            font-family: 'montserrat_light';
        }
        a:hover{
            font-family: 'montserrat_bold';
        }
        .todo-amarillo{
            color: #e9bb52;
        }
    }
    .galeria_container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        column-gap: 30px;
        row-gap: 30px;

        img{
            width: 280px;
        }
        .img-1{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .img-2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .img-3{
            grid-column: 4/5;
            grid-row: 1/2;
        }
        
        .img-4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .img-5{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .img-6{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        .img-7{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .img-8{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .img-9{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .img-10{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .img-11{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .img-12{
            grid-column: 4/5;
            grid-row: 4/5;
        }
        .img-13{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .img-14{
            grid-column: 3/4;
            grid-row: 5/6;
        }
        .img-15{
            grid-column: 4/5;
            grid-row: 5/6;
        }
        a:hover img{
            filter: opacity(40%);
            transition: all .5s;
        }
    }
    .espacio{
        height: 150px;
    }
    .light-box{
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);

        img{
            width: 700px;
        }
        .close{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: white;
        }
        .close:hover{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: #e9bb52;
        }
        .right{
            color: white;
            margin-left: 40px;
        }
        .right:hover{
            color: #e9bb52;
            margin-left: 40px;
        }
        
        .left{
            color: white;
            margin-right: 40px;
        }
        .left:hover{
            color: #e9bb52;
            margin-right: 40px;
        }
        .bajada{
            color: white;
            font-family: 'montserrat_light';
            text-align: center;
            margin-top: 15px;
        }
    }
    .light-box:target{
        transform: scale(1);
    }
    
}
/*------------------------------ Porfolio 801-1023 --------------------------------- */

@media only screen and (min-width: 801px) and (max-width: 1023px) {

    .portfolio__encabezado{
        @include encabezado-portfolio;

        .portfolio__titulo{
        @include encabezado-titulo
        }
        .portfolio__subtitulo{
        @include encabezado-subtitulo
        }
    }

    .filtro{
        display: grid;
        grid-template-columns: repeat(10,1fr);

        .filtro__lista{
            grid-column: 2/10;
            list-style: none;
            justify-self: center;
            margin-top: 80px;
            margin-bottom: 80px;
            align-items: center;
            margin-left: 0px;
            padding-left: 0px;

            li{
                display: inline;
                margin: 15px;
            }
            a{
                text-decoration: none;
                color: #002a3a;
                font-family: 'montserrat_light';
                font-size: 14px;
            }
            a:hover{
                font-family: 'montserrat_bold';
            }
            .todo-amarillo{
                color: #e9bb52;
            }
        }
    }
    .galeria_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-right: 70px;
        margin-left: 70px;

        img{
            width: 100%;
        }
        .img-1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .img-2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .img-3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        
        .img-4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .img-5{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .img-6{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .img-7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .img-8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .img-9{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .img-10{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .img-11{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .img-12{
            grid-column: 2/3;
            grid-row: 6/7;
        }
        .img-13{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .img-14{
            grid-column: 2/3;
            grid-row: 7/8;
        }
        .img-15{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        a:hover img{
            filter: opacity(40%);
            transition: all .5s;
        }
    }
    .espacio{
        height: 150px;
    }
    .light-box{
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);

        img{
            width: 630px;
        }
        .close{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: white;
        }
        .close:hover{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: #e9bb52;
        }
        .right{
            color: white;
            margin-left: 40px;
        }
        .right:hover{
            color: #e9bb52;
            margin-left: 40px;
        }
        
        .left{
            color: white;
            margin-right: 40px;
        }
        .left:hover{
            color: #e9bb52;
            margin-right: 40px;
        }
        .bajada{
            color: white;
            font-family: 'montserrat_light';
            text-align: center;
            margin-top: 15px;
        }
    }
    .light-box:target{
        transform: scale(1);
    }

}

/*------------------------------ Porfolio 601-800 --------------------------------- */

@media only screen and (min-width: 601px) and (max-width: 800px) {

    .portfolio__encabezado{
        @include encabezado-portfolio;

        .portfolio__titulo{
        @include encabezado-titulo
        }
        .portfolio__subtitulo{
        @include encabezado-subtitulo;
        grid-column: 3/19;
        font-size: 19px;
        }
    }

    .filtro{
        display: grid;
        grid-template-columns: repeat(10,1fr);

        .filtro__lista{
            grid-column: 3/9;
            list-style: none;
            justify-self: center;
            margin-top: 80px;
            margin-bottom: 80px;
            align-items: center;
            margin-left: 0px;
            padding-left: 0px;
            text-align: center;

            li{
                display: inline;
                margin: 15px;
                line-height: 30px;
            }
            a{
                text-decoration: none;
                color: #002a3a;
                font-family: 'montserrat_light';
                font-size: 15px;
            }
            a:hover{
                font-family: 'montserrat_bold';
            }
            .todo-amarillo{
                color: #e9bb52;
            }
        }
    }
    .galeria_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-right: 60px;
        margin-left: 60px;

        img{
            width: 100%;
        }
        .img-1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .img-2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .img-3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        
        .img-4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .img-5{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .img-6{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .img-7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .img-8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .img-9{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .img-10{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .img-11{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .img-12{
            grid-column: 2/3;
            grid-row: 6/7;
        }
        .img-13{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .img-14{
            grid-column: 2/3;
            grid-row: 7/8;
        }
        .img-15{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        a:hover img{
            filter: opacity(40%);
            transition: all .5s;
        }
    }
    .espacio{
        height: 150px;
    }
    .light-box{
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);

        img{
            width: 550px;
        }
        .close{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: white;
        }
        .close:hover{
            display: block;
            position: absolute;
            top: 60px;
            right: 60px;
            color: #e9bb52;
        }
        .right{
            color: white;
            margin-left: 40px;
            position: relative;
            right: 300px;
            top: 340px;
        }
        .right:hover{
            color: #e9bb52;
            margin-left: 40px;
        }
        
        .left{
            color: white;
            margin-right: 40px;
            position: relative;
            left: 300px;
            top: 340px;
        }
        .left:hover{
            color: #e9bb52;
            margin-right: 40px;
        }
        .bajada{
            color: white;
            font-family: 'montserrat_light';
            text-align: center;
            margin-top: 15px;
        }
    }
    .light-box:target{
        transform: scale(1);
    }
}

 /*------------------------------ Porfolio 320-600 --------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 600px) {

    .portfolio__encabezado{
        @include encabezado-portfolio;

        .portfolio__titulo{
        @include encabezado-titulo
        }
        .portfolio__subtitulo{
        @include encabezado-subtitulo;
        grid-column: 3/19;
        font-size: 19px;
        }
    }

    .filtro{
        display: flex;
        flex-direction: column;

        .filtro__lista{
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            margin-top: 50px;
            margin-bottom: 50px;
            li{
                line-height: 30px;
                margin: 0px;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: #002a3a;
                font-family: 'montserrat_light';
                font-size: 15px;
            }
            a:hover{
                font-family: 'montserrat_bold';
            }
            .todo-amarillo{
                color: #e9bb52;
            }
        }
    }
    .galeria_container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        div{
            display: flex;
            justify-content: center;
        }
        img{
            width: 300px;
        }
        a:hover img{
            filter: opacity(40%);
            transition: all .5s;
        }
    }
    .light-box{
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);

        img{
            width: 300px;
        }
        .close{
            display: block;
            position: relative;
            top: -10px;
            right: 0px;
            color: white;
            width: 12px;
        }
        .close:hover{
            display: block;
            position: relative;
            top: -10px;
            right: 0px;
            color: #e9bb52;
            width: 12px;
        }
        .right{
            color: white;
            margin-left: 40px;
            position: relative;
            right: 150px;
            top: 230px;
        }
        .right:hover{
            color: #e9bb52;
            margin-left: 40px;
        }
        
        .left{
            color: white;
            margin-right: 40px;
            position: relative;
            left: 150px;
            top: 230px;
        }
        .left:hover{
            color: #e9bb52;
            margin-right: 40px;
        }
        .bajada{
            color: white;
            font-family: 'montserrat_light';
            text-align: center;
            width: 300px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 0px;
            line-height: 30px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .light-box:target{
        transform: scale(1);
    }
}

/*------------------------------ Porfolio 0-319 --------------------------------- */

@media only screen and (min-width: 0px) and (max-width: 319px) {

    .portfolio__encabezado{
        background-color: #002a3a;
        color: #e9bb52;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(2,1fr);

        .portfolio__titulo{
            font-family: 'montserrat_medium';
            font-size: 30px;
            grid-column: 2/12;
            align-self: end;
            }
            .portfolio__subtitulo{
                font-size: 20px;
                grid-column: 2/14;
                grid-template-rows: 2/3;
                font-family: 'montserrat-light';
                align-self: start;
                }
        }

    .filtro{
        display: flex;
        flex-direction: column;

        .filtro__lista{
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            margin-top: 50px;
            margin-bottom: 50px;
            li{
                line-height: 30px;
                margin: 0px;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: #002a3a;
                font-family: 'montserrat_light';
                font-size: 15px;
            }
            a:hover{
                font-family: 'montserrat_bold';
            }
            .todo-amarillo{
                color: #e9bb52;
            }
        }
    }
    .galeria_container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        div{
            display: flex;
            justify-content: center;
        }
        img{
            width: 100%;
        }
        a:hover img{
            filter: opacity(40%);
            transition: all .5s;
        }
    }
    .light-box{
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);

        img{
            width: 450px;
        }
        .close{
            display: block;
            position: absolute;
            top: 120px;
            right: 70px;
            color: white;
        }
        .close:hover{
            display: block;
            position: absolute;
            top:120px;
            right: 70px;
            color: #e9bb52;
        }
        .right{
            color: white;
            margin-left: 40px;
            position: relative;
            right: 250px;
            top: 320px;
        }
        .right:hover{
            color: #e9bb52;
            margin-left: 40px;
        }
        
        .left{
            color: white;
            margin-right: 40px;
            position: relative;
            left: 250px;
            top: 320px;
        }
        .left:hover{
            color: #e9bb52;
            margin-right: 40px;
        }
        .bajada{
            color: white;
            font-family: 'montserrat_light';
            text-align: center;
            width: 300px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 0px;
            line-height: 30px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .light-box:target{
        transform: scale(1);
    }
}