@import "fuentes";
$color-azul: #002a3a;
$color-amarillo:#e9bb52;

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: 'montserrat_light';
}

/*---------------------- Encabezado HOME -------------------------*/

.header{
    background-color: $color-azul ;
    height: 200px;
    
    .header__container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        align-content: center;
        align-items: center;
        height: 200px;
        a {
            grid-column: 2/3;
        }
        .header__logo{
            width: 350px;
        }
        .header__nav{
            grid-column: 5/9;
            .header__lista{
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;

                li a{
                text-decoration: none;
                color: $color-amarillo;
                font-family: 'montserrat_light';

                &:hover{
                    font-family: 'montserrat_bold';
                }
                }
            }
        }
        .header__redes{
            grid-column: 9/10;
            display: flex;
            justify-content: end;
            .header__insta{
                color: $color-amarillo;
                padding-left: 20px;
                position: relative;
                bottom: 10px;
            }
            .header__insta:hover{
                color: white;
            }
            .header__behance{
                color: $color-amarillo;
                padding-left: 20px;
                position: relative;
                bottom: 10px;
            }
            .header__behance:hover{
                color: white;
            }
            .header__menu{
                color: $color-amarillo;
                padding-left: 10px;
                display: none;
            }
        }
        
    }
}

/*----------------------- Presentacion HOME ------------------------------*/

.presentacion{
    background-color: $color-azul;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .presentacion__texto{
        display: grid;
        align-self: center;
        justify-self: center;
        justify-content: center;
        width: 500px;
        .presentacion__titulo{
            color: $color-amarillo;
            font-family: 'montserrat_bold';
            font-size: 45px;
            line-height: 50px;
        }
        .presentacion__subtitulo{
            color: $color-amarillo;
            font-family: 'montserrat_light';
            font-size: 20px;
            margin-top: 15px;
            line-height: 28px;
        }
    }
}

/*--------------------- Resumen servicios HOME --------------------------*/

.resumen-servicios{
    color: $color-azul;
    height: 500px;
    
    h6{
        font-family: 'montserrat_bold';
        font-size: 15px;
    }
    h3{
        font-family: 'montserrat_medium';
        font-size: 35px;
        margin-top: 20px;
    }
    p{
        font-family: 'montserrat_light';
        font-size: 15px;
        margin-top: 20px;
    }

    .resumen-servicios__container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(2,1fr);
        height: 420px;

        .resumen-servicios__texto{
            grid-column: 2/6;
            grid-row: 1/2;
            align-self: center;
            margin-top: 60px;
            margin-bottom: 60px;

            .resumen-servicios__titulo{
                font-family: 'montserrat_medium';
                font-size: 40px;
            }
            .resumen-servicios__subtitulo{
                font-family: 'montserrat_light';
                font-size: 20px;
            }
        }
        .resumen-servicios__branding{
            grid-column: 2/4;
            width: 300px;
        }
        .resumen-servicios__web{
            grid-column: 5/7;
            width: 300px;
        }
        .resumen-servicios__redes{
            grid-column: 8/10;
            width: 300px;
        }
    }
}
.resumen-servicios__boton{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 20px;

    a{
    text-decoration: none;
    color: #002a3a;
    border: #002a3a solid 1px;
    font-family: 'montserrat_medium';
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top:15px;
    padding-bottom: 15px;
    }
    a:hover{
        background-color: $color-azul;
        color: white;
    }
}
/*--------------------- Inspirate HOME --------------------------*/

.inspirate{
    background-color: $color-amarillo;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inspirate__texto{
        display: grid;
        grid-template-columns: repeat(20,1fr);

        .inspirate__titulo{
            color: $color-azul;
            font-family: 'montserrat_medium';
            font-size: 40px;
            grid-column: 3/6;
        }
    }

    .inspirate__imagenes{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-top: 40px;
        img{
            width: 100%;
        }
        .inspirate__img{
            position: relative;
            text-align: center;
            display: block;

            .overlay{
                background-color: $color-azul;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 0%;

                h4{
                    color: $color-amarillo;
                    font-family: 'montserrat_light';
                    display: block;
                    width: 100%;
                    justify-content: center;
                    align-self: center;
                }
            }
            .overlay:hover{
                background-color: #002a3a;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 94%;
                transition: all,0.5s;
                cursor: pointer;
            
            }
        }
    }
    .inspirate__boton{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        a{
            text-decoration: none;
            color: $color-azul;
            border: $color-azul solid 1px;
            font-family: 'montserrat_medium';
            font-size: 18px;
            padding-left: 18px;
            padding-right: 18px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        a:hover{
            background-color: $color-azul;
            color: white;
        }
    }
}

/*------------------ Resumen Sobre mi HOME ----------------------*/

.resumen-sobremi{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .resumen-sobremi__imagen{
        justify-self: end;
        margin-top: 120px;
        margin-bottom: 120px;

        img{
            width: 500px;
        }
    }
    .resumen-sobremi__texto{
        justify-self: start;
        align-self: center;
        color: #002a3a;
        margin-left: 30px;

        .resumen-sobremi__titulo{
            font-family: 'montserrat_medium';
            width: 450px;
            margin-bottom: 15px;
            font-size: 30px;
        }
        .resumen-sobremi__parrafo{
            font-family: 'montserrat_light';
            font-size: 16px;
            width: 450px;
            line-height: 25px;
        }
    }
}

/*------------------------- Footer ------------------------------*/

.footer{
    background-color: #002a3a;
    color: #e9bb52;

    ul{
        list-style: none;
    }
    a{
        color: $color-amarillo;
        text-decoration: none;
    }
    a:hover{
        font-family: 'montserrat_medium';
    }
    h2{
        font-family: 'montserrat_bold';
        margin-bottom: 15px;
        font-size: 22px;
    }
    li{
        line-height: 30px;
        font-family: 'montserrat_light';
    }

    .footer__container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(3,1fr);

        .footer__logo{
            width: 300px;
            grid-column: 2/3;
            grid-row: 1/3;
            margin-top: 70px;
            }
        .footer__servicios{
            grid-column: 4/5;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 230px;
            }
        .footer__explora{
            grid-column: 6/7;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 150px;
            }
        .footer__contacto{
            grid-column: 8/9;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 150px;

                #insta{
                    margin-right: 5px;
                }
            }
        .footer__lista{
            position: relative;
            right: 30px;
            }
            
        .footer__copyright{
            grid-column: 1/11;
            grid-row: 3/4;
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-family: 'montserrat_light';
            }
        .footer__linea{
            grid-column: 1/11;
            grid-row: 3/4;
            }
    }
}

/*---------------------------RESPONSIVE HOME (1024-1360) --------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1360px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-family: 'montserrat_light';
    }

    .header{
        background: #002a3a;
        height: 200px;

        .header__container{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            align-content: center;
            align-items: center;
            height: 200px;

            a{
                grid-column: 2/3;
            }
            .header__logo{
                width: 250px;
            }
            .header__nav{
                grid-column: 4/9;

                .header__lista{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;

                    li a{
                        text-decoration: none;
                        color: #e9bb52;
                        font-family: 'montserrat_light';
                        font-size: 15px;
                    }
                    li a:hover{
                        font-family: 'montserrat_bold';
                    }
                }
                .header__redes{
                    grid-column: 9/10;
                    display: flex;
                    justify-content: end;

                    .header__insta{
                        color: #e9bb52;
                        padding-left: 15px;
                        position: relative;
                        bottom: 8px;
                    }
                    .header__behance{
                        color: #e9bb52;
                        padding-left: 15px;
                        position: relative;
                        bottom: 8px;
                    }
                    .header__menu{
                        color: #e9bb52;
                        padding-left: 10px;
                        display: none;
                    }
                }
            }
        }
    }
/*----------------------- Presentacion HOME (1024-1360) --------------------------*/

.presentacion{
    background-color: #002a3a;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .presentacion__texto{
        display: grid;
        align-self: center;
        justify-self: center;
        justify-content: center;
        width: 350px;

        .presentacion__titulo{
            color: #e9bb52;
            font-family: 'montserrat_bold';
            font-size: 30px;
            line-height: 40px;
        }
        .presentacion__subtitulo{
            color: #e9bb52;
            font-family: 'montserrat_light';
            font-size: 16px;
            margin-top: 10px;
            line-height: 25px;
        }
    }
}

/*--------------------- Resumen Servicios HOME (1024-1360) ----------------------- */

.resumen-servicios{
    color: #002a3a;
    height: 450px;

    .resumen-servicios__container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2,1fr);
        margin-left: 30px;

        h6{
            font-family: 'montserrat_bold';
            font-size: 12px;
        }
        h3{
            font-family: 'montserrat_medium';
            font-size: 35px;
            margin-top: 18px;
        }
        p{
            font-family: 'montserrat_light';
            font-size: 14px;
            line-height: 18px;
            margin-top: 20px;
        }

        .resumen-servicios__texto{
            grid-column: 2/6;
            grid-auto-rows: 1/2;
            align-self: center;

            .resumen-servicios__titulo{
                font-family: 'montserrat_medium';
                font-size: 30px;
            }
            .resumen-servicios__subtitulo{
                font-family: 'montserrat_light';
                font-size: 15px;
                margin-top: 5px;
            }
        }
        .resumen-servicios__branding{
            grid-column: 2/4;
            width: 280px;
        }
        .resumen-servicios__web{
            grid-column: 5/7;
            width: 280px;
        }
        .resumen-servicios__redes{
            grid-column: 8/10;
            width: 280px;
        }
    }
}
.resumen-servicios__boton{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    a{
        text-decoration: none;
        color: #002a3a;
        border: #002a3a solid 1px;
        font-family: 'montserrat_medium';
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    a:hover{
        background-color: #002a3a;
        color: white;
    }
}
/*--------------------------- Inspirate HOME (1024x1360) --------------------------------*/

.inspirate{
    background-color: #e9bb52;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inspirate__texto{
        display: grid;
        grid-template-columns: repeat(20,1fr);

        .inspirate__titulo{
            color: #002a3a;
            font-family: 'montserrat_medium';
            font-size: 40px;
            grid-column: 3/6;
            }
    }
    .inspirate__imagenes{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-top: 40px;

        img{
            width: 100%;
        }
        .inspirate__img{
            position: relative;
            text-align: center;
            display: block;

            .overlay{
                background-color: #002a3a;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 0%;

                h4{
                    color: #e9bb52;
                    font-family: 'montserrat_light';
                    display: block;
                    width: 100%;
                    justify-content: center;
                    align-self: center;
                    }
            }
            .overlay:hover{
                background-color: #002a3a;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 94%;
                transition: all,0.5s;
                cursor: pointer;
            
            }
        }
        }
    .inspirate__boton{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 30px;

        a{
            text-decoration: none;
            color: #002a3a;
            border: #002a3a solid 1px;
            font-family: 'montserrat_medium';
            font-size: 18px;
            padding-left: 18px;
            padding-right: 18px;
            padding-top:15px;
            padding-bottom: 15px;
        }
        a:hover{
            background-color: #002a3a;
            color: white;
            }
        }
}

/*------------------ Resumen Sobre mi HOME (1024 - 1360) ----------------------*/

.resumen-sobremi{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .resumen-sobremi__imagen{
        justify-self: end;
        margin-top: 80px;
        margin-bottom: 80px;

        img{
            width: 400px;
        }
    }
    .resumen-sobremi__texto{
        justify-self: start;
        align-self: center;
        color: #002a3a;
        margin-left: 30px;
        
        .resumen-sobremi__titulo{
            font-family: 'montserrat_medium';
            width: 400px;
            margin-bottom: 15px;
            font-size: 27px;
        }
        .resumen-sobremi__parrafo{
            font-family: 'montserrat_light';
            font-size: 15px;
            width: 400px;
            line-height: 25px;
        }
    }
}
/*------------------ Footer HOME (1024-1360) --------------------*/

.footer{
    background-color: #002a3a;
    color: #e9bb52;

    ul{
        list-style: none;
    }
    a{
        color: $color-amarillo;
        text-decoration: none;
    }
    a:hover{
        font-family: 'montserrat_medium';
    }
    h2{
        font-family: 'montserrat_bold';
        font-size: 18px;
        margin-bottom: 15px;
    }
    li{
        line-height: 30px;
        font-family: 'montserrat_light';
        font-size: 14px;
    }

    .footer__container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(3,1fr);

        .footer__logo{
            width: 250px;
            grid-column: 2/3;
            grid-row: 1/3;
            margin-top: 70px;
            }
        .footer__servicios{
            grid-column: 4/5;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 200px;
            }
        .footer__explora{
            grid-column: 6/7;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 150px;
            }
        .footer__contacto{
            grid-column: 8/9;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 150px;

                #insta{
                    margin-right: 5px;
                }
            }
        .footer__lista{
            position: relative;
            right: 30px;
            }
            
        .footer__copyright{
            grid-column: 1/11;
            grid-row: 3/4;
            justify-self: center;
            align-self: center;
            font-size: 13px;
            font-family: 'montserrat_light';
            }
        .footer__linea{
            grid-column: 1/11;
            grid-row: 3/4;
            }
    }
}
}
/*---------------------------RESPONSIVE 801-1023------------------------------*/
@media only screen and (min-width: 801px) and (max-width: 1023px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        font-family: 'montserrat_light';
    }

    .header{
        background: $color-azul;
        height: 200px;

        .header__container{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            align-content: center;
            align-items: center;
            height: 200px;

            .header__logo{
                width: 200px;
            }
            .header__nav{
                grid-column: 4/9;

                .header__lista{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;

                    li a{
                        text-decoration: none;
                        color: #e9bb52;
                        font-family: 'montserrat_light';
                        font-size: 12px;
                    }
                    li a:hover{
                        font-family: 'montserrat_bold';
                    }
                }
            }
            .header__redes{
                grid-column: 9/10;
                display: flex;
                justify-content: end;

                .header__insta{
                    color: #e9bb52;
                    padding-left: 10px;
                    position: relative;
                    bottom: 8px;
                }
                .header__behance{
                    color: #e9bb52;
                    padding-left: 10px;
                    position: relative;
                    bottom: 8px;
                }
                .header__menu{
                    color: #e9bb52;
                    padding-left: 10px;
                    display: none;
                }
            }
        }
        }
/*------------------------ Presentacion HOME (801-1023)---------------------------*/

.presentacion{
    background-color: #002a3a;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .presentacion__texto{
        display: grid;
        align-self: center;
        justify-self: center;
        justify-content: center;
        width: 300px;

        .presentacion__titulo{
            color: #e9bb52;
            font-family: 'montserrat_bold';
            font-size: 28px;
            line-height: 40px;
        }
        .presentacion__subtitulo{
            color: #e9bb52;
            font-family: 'montserrat_light';
            font-size: 14px;
            margin-top: 10px;
            line-height: 22px;
        }
    }
}
/*------------- Resumen servicios HOME (801-1023) --------------- */

.resumen-servicios{
    color: #002a3a;
    height: 450px;

    .resumen-servicios__container{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(2,1fr);

        h6{
            font-family: 'montserrat_bold';
            font-size: 12px;
        }
        h3{
            font-family: 'montserrat_medium';
            font-size: 25px;
            margin-top: 18px;
        }
        p{
            font-family: 'montserrat_light';
            font-size: 12px;
            line-height: 18px;
            margin-top: 20px;
        }

        .resumen-servicios__texto{
            grid-column: 2/6;
            grid-auto-rows: 1/2;
            align-self: center;

            .resumen-servicios__titulo{
                font-family: 'montserrat_medium';
                font-size: 30px;
            }
            .resumen-servicios__subtitulo{
                font-family: 'montserrat_light';
                font-size: 15px;
                margin-top: 5px;
            }
        }
        .resumen-servicios__branding{
            grid-column: 2/3;
            width: 200px;
        }
        .resumen-servicios__web{
            grid-column: 4/6;
            width: 200px;
        }
        .resumen-servicios__redes{
            grid-column: 7/9;
            width: 200px;
        }
    }
}
.resumen-servicios__boton{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    a{
        text-decoration: none;
        color: #002a3a;
        border: #002a3a solid 1px;
        font-family: 'montserrat_medium';
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    a:hover{
        background-color: #002a3a;
        color: white;
    }
}
/*-----------------------Inspirate HOME(801x1023) -----------------------*/
.inspirate{
    background-color: #e9bb52;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inspirate__texto{
        display: grid;
        grid-template-columns: repeat(20,1fr);

        .inspirate__titulo{
            color: #002a3a;
            font-family: 'montserrat_medium';
            font-size: 40px;
            grid-column: 3/6;
            }
    }
    .inspirate__imagenes{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-top: 40px;

        .inspirate__img{
            position: relative;
            text-align: center;
            display: block;

            .overlay{
                background-color: #002a3a;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 0%;

                h4{
                    color: #e9bb52;
                    font-family: 'montserrat_light';
                    font-size: 20px;
                    display: block;
                    width: 100%;
                    justify-content: center;
                    align-self: center;
                    }
            
            }
            .overlay:hover{
                background-color: #002a3a;
                position: absolute;
                bottom: 0%;
                top: 0%;
                left: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 94%;
                transition: all,0.5s;
                cursor: pointer;
            
            }
        }

        img{
            width: 100%;
            }
    }
    .inspirate__boton{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;

        a{
            text-decoration: none;
            color: #002a3a;
            border: #002a3a solid 1px;
            font-family: 'montserrat_medium';
            font-size: 18px;
            padding-left: 18px;
            padding-right: 18px;
            padding-top:15px;
            padding-bottom: 15px;
        }
        a:hover{
            background-color: #002a3a;
            color: white;
        }
    }

}
/*------------------ Resumen Sobre mi HOME (801 - 1023) ----------------------*/

.resumen-sobremi{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .resumen-sobremi__imagen{
        justify-self: end;
        margin-top: 80px;
        margin-bottom: 80px;

        img{
            width: 300px;
        }
    }
    .resumen-sobremi__texto{
        justify-self: start;
        align-self: center;
        color: #002a3a;
        margin-left: 30px;

        .resumen-sobremi__titulo{
            font-family: 'montserrat_medium';
            width: 300px;
            margin-bottom: 15px;
            font-size: 27px;
        }
        .resumen-sobremi__parrafo{
            font-family: 'montserrat_light';
            font-size: 13px;
            width: 300px;
            line-height: 25px;
        }
    }
}
/*---------------------------- Footer HOME(801-1023) -------------------------------*/

.footer{
    background-color: #002a3a;
    color: #e9bb52;

    ul{
        list-style: none;
    }
    a{
        color: $color-amarillo;
        text-decoration: none;
    }
    a:hover{
        font-family: 'montserrat_medium';
    }
    h2{
        font-family: 'montserrat_bold';
        margin-bottom: 15px;
        font-size: 18px;
    }
    li{
        line-height: 30px;
        font-family: 'montserrat_light';
        font-size: 13px;
    }

    .footer__container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(3,1fr);

        .footer li{
            line-height: 30px;
            font-size: 14px;
            font-family: 'montserrat_light';
            position: relative;
            right: 30px;
        }
        .footer__logo{
            width: 200px;
            grid-column: 2/3;
            grid-row: 1/3;
            margin-top: 70px;
            margin-left: 20px;
        }
        .footer__servicios{
            grid-column: 4/5;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 130px;
            margin-left: 20px;
        }
        .footer__explora{
            grid-column: 6/7;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 130px;
            margin-left: 20px;
        }
        .footer__contacto{
            grid-column: 8/9;
            grid-row: 1/3;
            margin-top: 80px;
            margin-bottom: 80px;
            width: 190px;

            #insta{
                margin-right: 5px;
            }
        }
        .footer__copyright{
            grid-column: 1/11;
            grid-row: 3/4;
            justify-self: center;
            align-self: center;
            font-size: 13px;
            font-family: 'montserrat_light';
        }
        .footer__linea{
            grid-column: 1/11;
            grid-row: 3/4;
        }
    }
}
}
/*--------------------- RESPONSIVE 601-800 ------------------------ */
@media only screen and (min-width: 601px) and (max-width: 800px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-family: 'montserrat_light';
    }
    .header{
        background: $color-azul;
        height: 150px;

        .header__container{
            display: grid;
            grid-template-columns: repeat(20,1fr);
            align-content: center;
            align-items: center;
            height: 150px;

            a{
                grid-column: 4/11;
            }
            .header__logo{
                width: 220px;
            }
            .header__nav{
                grid-column: 4/9;
                display: none;

                .header__lista{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                }
                li a{
                    text-decoration: none;
                    color: $color-amarillo;
                    font-family: 'montserrat_light';
                    font-size: 15px;
                }
            }
            .header__redes{
                grid-column:17/19;
                display: flex;
                justify-content: start;

                .header__insta{
                    color: #e9bb52;
                    padding-left: 10px;
                    display: none;
                }
                .header__behance{
                    color: #e9bb52;
                    padding-left: 10px;
                    display: none
                }
                .header__menu{
                    color: $color-amarillo;
                    padding-left: 10px;
                }
            }
        }
    }

    /*----------------------- Presentacion HOME (601-800) -----------------------*/
    
    .presentacion{
        background-color: $color-azul;
        display: flex;
        flex-direction: column;

        .presentacion__texto{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 250px;
            align-items: center;
            justify-content: center;

            .presentacion__titulo{
                color: #e9bb52;
                font-family: 'montserrat_bold';
                font-size: 32px;
                line-height: 36px;
                width: 400px;
            
            }
            .presentacion__subtitulo{
                color: #e9bb52;
                font-family: 'montserrat_light';
                font-size: 16px;
                margin-top: 10px;
                line-height: 25px;
                width: 400px;
            }
        }
    }
    /*------------------------- Resumen Srvicios Home (601-800) ---------------------- */

    .resumen-servicios{
        color: $color-azul;
        height: 100%;

        .resumen-servicios__container{
        color: #002a3a;
        display: flex;
        height: 700px;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 25px;
        margin-bottom: 25px;

        .resumen-servicios__texto{
            height: auto;
            display: flex;
            flex-direction:column;
            align-self: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .resumen-servicios__titulo{
            font-family: 'montserrat_medium';
            font-size: 30px;
        }
        .resumen-servicios__subtitulo{
            font-family: 'montserrat_light';
            font-size: 16px;
        }
        .resumen-servicios__branding{
            width: 100%;
        }
        .resumen-servicios__web{
            width: 100%;
        }
        .resumen-servicios__redes{
            width: 100%;
        }
        h6{
            font-family: 'montserrat_bold';
            font-size: 12px;
        }
        h3{
            font-family: 'montserrat_medium';
            font-size: 22px;
            margin-top: 5px;
        }
        p{
            font-family: 'montserrat_light';
            margin-top: 5px;
        }
        }
    }
    .resumen-servicios__boton{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        margin-top: 40px;

        a{
            text-decoration: none;
            color: #002a3a;
            border: #002a3a solid 1px;
            font-family: 'montserrat_medium';
            font-size: 16px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 13px;
            padding-bottom: 13px;
        }
        a:hover{
            background-color: #002a3a;
            color: white;
        }
    }

    /*-----------------------Inspirate(601-800) -----------------------*/

    .inspirate{
        background-color: #e9bb52;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 2500px;

        .inspirate__texto{
            display: grid;
            grid-template-columns: repeat(20,1fr);

            .inspirate__titulo{
                color: #002a3a;
                font-family: 'montserrat_medium';
                grid-column: 3/7;
                margin-bottom: 40px;
                margin-top: 45px;
                font-size: 35px;
            }
        }
        .inspirate__imagenes{
            display: flex;
            flex-direction: column;
            align-self: center;

            .inspirate__img{
                position: relative;
                text-align: center;
                display: block;

                .overlay{
                    background-color: #002a3a;
                    position: absolute;
                    bottom: 0%;
                    top: 0%;
                    left: 0%;
                    right: 0%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    opacity: 0%;

                    h4{
                        color: #e9bb52;
                        font-family: 'montserrat_light';
                        font-size: 25px;
                        display: block;
                        width: 100%;
                        justify-content: center;
                        align-self: center;
                        }
                }
                .overlay:hover{
                    background-color: #002a3a;
                    position: absolute;
                    bottom: 0%;
                    top: 0%;
                    left: 0%;
                    right: 0%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    opacity: 94%;
                    transition: all,0.5s;
                    cursor: pointer;
                
                }
            }
        }
        .inspirate__boton{
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            margin-top: 40px;

            a{
                text-decoration: none;
                color: #002a3a;
                border: #002a3a solid 1px;
                font-family: 'montserrat_medium';
                font-size: 16px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 13px;
                padding-bottom: 13px;
            }
            a:hover{
                background-color: #002a3a;
                color: white;
                }
        }
    }

    /*--------------------- Resumen Sobre Mi (601-800 )---------------------- */

    .resumen-sobremi{
        display: flex;
        flex-direction: column;
        height: 600px;

        .resumen-sobremi__imagen{
            align-self: center;
            margin-top: 60px;
            margin-bottom: 40px;

            img{
                width: 280px;
            }
        }
        .resumen-sobremi__texto{
            margin-left: 50px;
            margin-right: 50px;
            color: #002a3a;

            .resumen-sobremi__titulo{
                font-family: 'montserrat_medium';
                font-size: 21px;
                margin-bottom: 15px;
            }
            .resumen-sobremi__parrafo{
                font-family: 'montserrat_light';
                font-size: 15px;
                line-height: 22px;
                margin-bottom: 40px;
            }
        }
    }
    /*--------------------- Footer (601-800 )-----------------------------*/

    .footer{
        display: flex;
        flex-direction: column;
        background-color: #002a3a;

        .footer__container{
            margin-left: 70px;
            margin-right: 70px;
            color: #e9bb52;
            display: flex;
            flex-direction: column;

            .footer__servicios{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .footer__explora{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .footer__contacto{
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .footer__logo{
                width: 200px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            ul{
                list-style: none;
                margin-bottom: 50px;
            }
            li{
                line-height: 28px;
                font-family: 'montserrat_light';
                position: relative;
                font-size: 15px;

                a{
                    text-decoration: none;
                    color: #e9bb52;
                }
            }
            h2{
                font-family: 'montserrat_medium';
                font-size: 20px;
                margin-bottom: 14px;
            }
            .footer__linea{
                width: 100%;
                height: 25px;
            }
            .footer__copyright{
                margin-bottom: 50px;
                margin-top: 20px;
                text-align: center;
                font-family: 'montserrat_light';
                font-size: 12px;
            }
        }
    }
}
/*--------------------------- RESPONSIVE HOME 320-600 --------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 600px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-family: 'montserrat_light';
    }
    .header{
        background: $color-azul;
        height: 130px;

        .header__container{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            align-content: center;
            align-items: center;
            height: 150px;

            a{
                grid-column: 3;
            }
            .header__logo{
                width: 220px;
            }
            .header__nav{
                grid-column: 4/9;
                display: none;

                .header__lista{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                }
                li a{
                    text-decoration: none;
                    color: $color-amarillo;
                    font-family: 'montserrat_light';
                    font-size: 15px;
                }
            }
            .header__redes{
                grid-column:8/9;
                display: flex;
                justify-content: start;

                .header__insta{
                    color: #e9bb52;
                    padding-left: 10px;
                    display: none;
                }
                .header__behance{
                    color: #e9bb52;
                    padding-left: 10px;
                    display: none
                }
                .header__menu{
                    color: $color-amarillo;
                    padding-left: 10px;
                    display: block;
                }
            }
        }
    }
    /*--------------------------- RESPONSIVE HOME 320-600 --------------------------------*/

    .presentacion{
        background-color: $color-azul;
        display: flex;
        flex-direction: column;

        .presentacion__texto{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 250px;
            align-items: center;
            justify-content: center;

            .presentacion__titulo{
                color: #e9bb52;
                font-family: 'montserrat_bold';
                font-size: 23px;
                line-height: 30px;
                width: 280px;
            
            }
            .presentacion__subtitulo{
                color: #e9bb52;
                font-family: 'montserrat_light';
                font-size: 14px;
                margin-top: 10px;
                line-height: 23px;
                width: 280px;
            }
        }
    }
    /*------------- Resumen Servicios HOME (320-600) --------------- */

    .resumen-servicios{
        color: $color-azul;
        height: 800px;

        .resumen-servicios__container{
        color: #002a3a;
        display: flex;
        height: 800px;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 45px;
        margin-right: 45px;
        margin-top: 25px;
        margin-bottom: 25px;

        .resumen-servicios__texto{
            height: auto;
            display: flex;
            flex-direction:column;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;

            .resumen-servicios__titulo{
                font-family: 'montserrat_medium';
                font-size: 30px;
            }
            .resumen-servicios__subtitulo{
                font-family: 'montserrat_light';
                font-size: 15px;
            }
        }

        .resumen-servicios__branding{
            width: 100%;
        }
        .resumen-servicios__web{
            width: 100%;
        }
        .resumen-servicios__redes{
            width: 100%;
        }
        h6{
            font-family: 'montserrat_bold';
            font-size: 12px;
        }
        h3{
            font-family: 'montserrat_medium';
            font-size: 22px;
            margin-top: 5px;
        }
        p{
            font-family: 'montserrat_light';
            margin-top: 5px;
        }
        }
    }
    .resumen-servicios__boton{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        a{
            text-decoration: none;
            color: #002a3a;
            border: #002a3a solid 1px;
            font-family: 'montserrat_medium';
            font-size: 16px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 13px;
            padding-bottom: 13px;
        }
        a:hover{
            background-color: #002a3a;
            color: white;
        }
    }
    /*-----------------------Inspirate HOME(320x600) -----------------------*/

    .inspirate{
        background-color: #e9bb52;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;

        .inspirate__texto{
            display: grid;
            grid-template-columns: repeat(20,1fr);

            .inspirate__titulo{
                color: #002a3a;
                font-family: 'montserrat_medium';
                grid-column: 3/7;
                margin-bottom: 40px;
                margin-top: 45px;
                font-size: 35px;
            }
        }
        .inspirate__imagenes{
            display: flex;
            flex-direction: column;
            align-self: center;

            .inspirate__img{
                position: relative;
                text-align: center;
                display: block;

                .overlay{
                    background-color: #002a3a;
                    position: absolute;
                    bottom: 0%;
                    top: 0%;
                    left: 0%;
                    right: 0%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    opacity: 0%;

                    h4{
                        color: #e9bb52;
                        font-family: 'montserrat_light';
                        font-size: 20px;
                        display: block;
                        width: 100%;
                        justify-content: center;
                        align-self: center;
                        }
                }
                .overlay:hover{
                    background-color: #002a3a;
                    position: absolute;
                    bottom: 0%;
                    top: 0%;
                    left: 0%;
                    right: 0%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    opacity: 94%;
                    transition: all,0.5s;
                    cursor: pointer;
                
                }
            }
        }
        .inspirate__boton{
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            margin-top: 40px;

            a{
                text-decoration: none;
                color: #002a3a;
                border: #002a3a solid 1px;
                font-family: 'montserrat_medium';
                font-size: 16px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 13px;
                padding-bottom: 13px;
            }
            a:hover{
                background-color: #002a3a;
                color: white;
                }
        }
    }
    /*---------------------- Resumen Sobre mi HOME (320-600) -------------------- */

    .resumen-sobremi{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        align-content: center;


        .resumen-sobremi__imagen{
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-top: 60px;
            margin-bottom: 40px;

            img{
                width: 280px;
            }
        }
        .resumen-sobremi__texto{
            display: flex;
            flex-direction: column;
            width: auto;
            margin-left: 50px;
            margin-right: 50px;
            align-items: center;
            align-self: center;
            align-content: center;

            .resumen-sobremi__titulo{
                font-family: 'montserrat_medium';
                font-size: 21px;
                margin-bottom: 15px;
                width: 100%;
            }
            .resumen-sobremi__parrafo{
                font-family: 'montserrat_light';
                font-size: 15px;
                line-height: 22px;
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
    
    /*---------------------- Footer HOME (320-600 )-------------------------*/

    .footer{
        display: flex;
        flex-direction: column;
        background-color: #002a3a;

        .footer__container{
            margin-left: 50px;
            margin-right: 50px;
            color: #e9bb52;
            display: flex;
            flex-direction: column;

            .footer__servicios{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .footer__explora{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .footer__contacto{
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .footer__logo{
                width: 200px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            ul{
                list-style: none;
                margin-bottom: 50px;
            }
            li{
                line-height: 24px;
                font-family: 'montserrat_light';
                position: relative;
                font-size: 15px;

                a{
                    text-decoration: none;
                    color: #e9bb52;
                }
            }
            h2{
                font-family: 'montserrat_medium';
                font-size: 20px;
                margin-bottom: 14px;
            }
            .footer__linea{
                width: 100%;
                height: 25px;
            }
            .footer__copyright{
                margin-bottom: 50px;
                margin-top: 20px;
                text-align: center;
                font-family: 'montserrat_light';
                font-size: 12px;
            }
        }
    }
}
